@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-brand-white bg-brand-black;
    font-family: var(--font-source-code-pro);
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-besley), serif;
    font-weight: bold;
  }

  code {
    font-family: var(--font-source-code-pro), monospace;
  }

  .font-ms-madi {
    font-family: var(--font-ms-madi);
  }

  .link {
    @apply underline;
  }

  .neon {
    @apply text-shadow;
  }

  .neon-off {
    @apply text-shadow-off;
    color: rgba(46, 46, 46, 0.61);
  }
}
